.login-signup-css {
  background-image: url("./frontend/pics/Lambo1st.jpg");

  width: 1229px;
  height: 569px;
  background-size: cover;
}
.login-signup-box {
  background-color: rgba(0, 0, 0, 0.407);
  border-radius: 10px;
}
.carCard:hover {
  transition: all ease 100ms;
  transform: scale(1.03);
}
.nav-bar {
  color: rgbr(255, 255, 0);
  background-color: rgba(0, 41, 74, 0.636);
}
